{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- ======= User Register Section, I am using the contact template ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row mt-5">
            <div class="col mt-5 mt-lg-0">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <form method="POST" role="form" class="php-email-form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form|crispy }}
                    </div>
                    <div class="text-center"><button type="submit">Sign Up</button></div>
                </form>
            </div>

        </div>

    </div>

</section>

{% endblock content %}